ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    background: lightgreen;
    padding: 10px;
  }
  th,
  td {
    border: 1px solid grey;
  }

  .form-input{
    width: 100%;
  }

  .hidden {
    display: none;
}

.interviewBtn {
    background-color: white;
    border: none;
}
.rejectionBtn {
    background-color: white;
    border: none;
}
.moreInfoBtn {
    background-color: white;
    border: none;
}

.check {
    color: green;
}
.reject {
    color: red;
}
.moreInfo {
    color: rgb(59, 58, 58)
}

/* .nav-link {
    color: white;
}

.nav-item {
    color: white;
} */

.noteBtn {
    text-align: right;
}
.notesBtn {
    background-color: darkmagenta;
    color: white;
    font-size: large;
    margin-top: 5px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.notesBtn2 {
    background-color: teal;
    color: white;
    font-size: large;
    margin-top: -20px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.custom-card-sing-app {
    margin-top: 20px;
}