ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    background: rgb(228, 155, 146);
    padding: 10px;
  }

  .customTh {
    background: rgb(124, 200, 245);
    padding: 10px;
  }

  th,
  td {
    border: 1px solid grey;
  }

  .form-input{
    width: 100%;
  }

  .hidden {
    display: none;
}

.interviewBtn {
    background-color: white;
    border: none;
}
.rejectionBtn {
    background-color: white;
    border: none;
}
.moreInfoBtn {
    background-color: white;
    border: none;
}

.check {
    color: green;
}
.reject {
    color: red;
}
.moreInfo {
    color: rgb(59, 58, 58)
}

/* .nav-link {
    color: white;
}

.nav-item {
    color: white;
} */

.noteBtn {
    text-align: right;
}
.notesBtn {
    background-color: rgb(68, 151, 29);
    color: white;
    font-size: large;
    margin-top: 5px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.notesBtn2 {
    background-color: teal;
    color: white;
    font-size: large;
    margin-top: -20px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.custom-card-sing-app {
    margin-top: 20px;
    /* background-color: blue; */
}

.loginBtn {
    background-color: black
}

.addAppBtn {
    background-color: rgb(102, 63, 102);
    color: white;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.addAppBtn1 {
    text-align: right;
}

.addAppBtn2 {
    background-color: rgb(102, 63, 102);
    color: white;
    font-size: large;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.card-header {
    background-color: rgb(13, 88, 110) !important;
    color: white !important;
}

.note-card {
    border: none !important;
}

.custom-header1 {
    background-color: rgb(7, 176, 206) !important;
    color: white !important;
}

.updateStatus {
    background-color: rgb(54, 151, 34);
    color: white;
    font-size: large;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.updateStatus2 {
    background-color: rgb(151, 81, 34);
    color: white;
    font-size: large;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}